<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

    <head th:replace="layout/fragments/header :: header"></head>

    <body>
        <header class="header_area" th:replace="layout/fragments/header-menu :: header-menu"></header>
        <div class="right-side-cart-area" th:replace="layout/fragments/right-cart :: right-cart"></div>

        <div  layout:fragment="content"></div>

        <div th:replace="layout/fragments/brands :: brands"></div>
        <footer class="footer_area clearfix" th:replace="layout/fragments/footer :: footer"></footer>

        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script th:src="@{~/js/jquery/jquery-2.2.4.min.js}"></script>
        <!-- Popper js -->
        <script th:src="@{~/js/popper.min.js}"></script>
        <!-- Bootstrap js -->
        <script th:src="@{~/js/bootstrap.min.js}"></script>
        <!-- Plugins js -->
        <script th:src="@{~/js/plugins.js}"></script>
        <!-- Classy Nav js -->
        <script th:src="@{~/js/classy-nav.min.js}"></script>
        <!-- Active js -->
        <script th:src="@{~/js/active.js}"></script>
    </body>
</html>