<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base-shop}">

<body>
<div layout:fragment="content">

<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb_area bg-img background-image-header" >
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="page-title text-center">
                    <h2>Login</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->


    <!-- ##### Login Area Start ##### -->
    <div class="checkout_area section-padding-80">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-6">
                    <div class="checkout_details_area mt-50 clearfix">

                        <form action="#" method="post">
                            <div class="row">

                                <div class="col-12 mb-3">
                                    <label for="username">Username<span>*</span></label>
                                    <input type="text" class="form-control" id="username" min="0" value="">
                                </div>
                                <div class="col-12 mb-4">
                                    <label for="password">Password <span>*</span></label>
                                    <input type="text" class="form-control" id="password" value="">
                                </div>


                                <div class="h-100 d-flex align-items-center justify-content-end ">
                                    <div class="cta--text">
                                        <a href="#" class="btn essence-btn">Submit</a>
                                    </div>
                                </div>

                                <div class="col-12 mb-4">
                                    <a href="#">Create new Account</a>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Login Area End ##### -->

</div>
</body>

</html>